@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Fascinate&family=Inconsolata:wght@200;300;400&family=Poppins:wght@200;300&family=Roboto+Condensed:wght@300&display=swap');
body{
	 background: #f25f2e; 
	 margin-top: 0;
	 padding: 0;
}

.wrapper{
	display: flex;
	justify-content: space-evenly;
}
*{
	font-family: 'Aboreto', cursive;
}
.box{
	height: 300px;
	width: 300px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: lavenderblush;
	gap: 30px;
	padding: 20px 0px;
	border-radius: 10px;
}
.image img{
	width: 100px;
	height: 100px;
}
button{
	background: #f25f2e;
	border: none;
	padding: 8px 15px;
	border-radius: 5px;
}
h1{
	text-align: center;
}

.center{
    width: 20%;
	margin: auto;
}
.playagain{
	display: block;
	text-decoration: none;
	background: lavenderblush;
	color: black;
	padding: 8px 15px;
	border-radius: 5px;
	visibility: hidden;
	text-align: center;
}


.vibrate{
	animation: shake .1s linear alternate;

}

@keyframes shake {
	0%{
		transform: rotate(360deg);
	}
	20%{
		transform: rotate(-360deg);
	}
	40%{
		transform: rotate(360deg);
	}
	50%{
		transform: rotate(-360deg);
	}
	70%{
		transform: rotate(360deg);
	}
	90%{
		transform: rotate(-360deg);
	}
	100%{
		transform: rotate(360deg);
	}
	
}
